body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px;
}

.celda {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
